Calendar agent.json
{
  "name": "Calendar agent",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "e5c498f3-46ed-4aeb-9dfe-f9e94f8ece5a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -528,
        384
      ],
      "credentials": {
        "openAiApi": {
          "id": "FGgIyNvvzsxP4aU6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "baaddf96-3798-434e-b6af-39f27ecb7a96",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "645af26e-c2e6-4e41-afac-5f5f8f78a132",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -688,
        160
      ],
      "id": "3b2e52bc-ccd1-4bab-b15e-5a719d4b426f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "yorick.cruse@gmail.com",
          "mode": "list",
          "cachedResultName": "yorick.cruse@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        128,
        560
      ],
      "id": "94e33887-074c-4dfc-956c-1cffd6e42f6a",
      "name": "updateEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zxkkghunRXGcsgnQ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "yorick.cruse@gmail.com",
          "mode": "list",
          "cachedResultName": "yorick.cruse@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        272,
        544
      ],
      "id": "86766c6f-71d2-40f2-90c4-d05e33f93a84",
      "name": "deleteEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zxkkghunRXGcsgnQ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "yorick.cruse@gmail.com",
          "mode": "list",
          "cachedResultName": "yorick.cruse@gmail.com"
        },
        "limit": 10,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -208,
        544
      ],
      "id": "4374621c-809d-4075-b83f-d8d643a4f494",
      "name": "getEvents",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zxkkghunRXGcsgnQ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "yorick.cruse@gmail.com",
          "mode": "list",
          "cachedResultName": "yorick.cruse@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -336,
        544
      ],
      "id": "0b6ca3df-36d8-4096-ac91-202173e6d0a4",
      "name": "createEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zxkkghunRXGcsgnQ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "yorick.cruse@gmail.com",
          "mode": "list",
          "cachedResultName": "yorick.cruse@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', `Die Emailadresse des Teilnehmers.`, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Der Titel des Ereignisses.`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -48,
        544
      ],
      "id": "107da865-093c-4a80-9c51-6fa243ae73ed",
      "name": "createEventWithAttendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zxkkghunRXGcsgnQ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Role  \nYou are a calendar agent. Your tasks include creating, retrieving, and deleting events in the user's calendar.  \n\n# Tools  \n\n## getEvents  \nUse this tool to retrieve calendar schedules upon request.  \n\n## createEvent  \nUse this tool to create a solo appointment.  \n\n## updateEvent  \nUse this tool to update an event. You must first use **\"getEvents\"** to retrieve the ID of the event that needs to be updated.  \n\n## createEventWithAttendee  \nUse this tool to schedule an event with attendees.  \n\n## deleteEvent  \nUse this tool to delete an event. You must first use **\"getEvents\"** to retrieve the ID of the event that needs to be deleted.  \n\n  \ndate/time: **{{ $now }}**  \n"
        }
      },
      "id": "7f7d89d6-c329-427c-a10d-0eeef89505c4",
      "name": "Calender Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -448,
        160
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calender Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateEvent": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "deleteEvent": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getEvents": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "createEvent": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "createEventWithAttendee": {
      "ai_tool": [
        [
          {
            "node": "Calender Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calender Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67079cb2-f762-46d1-b0fa-53b17422b1c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f493e44b15d7f23f6731586ad7b17f7ba01ef8032d92a57a26faa9fab98968c6"
  },
  "id": "81ce4H0mJBkSRjvO",
  "tags": []
}