Company google drive to pinecone.json
{
  "name": "Company google drive to pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Y907yGSpOY4uK5gE594GQge8D5IWCE7e",
          "mode": "list",
          "cachedResultName": "RAG app",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Y907yGSpOY4uK5gE594GQge8D5IWCE7e"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a97c3085-41c4-4ddf-b67b-60b430936924",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dtbTAJ0FaByQyITV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "6c7c51fb-7a55-4ee0-921f-91b5e6fd2273",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dtbTAJ0FaByQyITV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "yomama",
          "mode": "list",
          "cachedResultName": "yomama"
        },
        "options": {
          "pineconeNamespace": "Q&A"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "0e39aa08-87ab-4675-b041-47c4702c25a8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "PDtrqMDQN9mKjcMs",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        240
      ],
      "id": "e1b81e59-581e-477b-b971-d34757cccd7e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "k3yB0pY2eAWo2YEV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "5ade1c58-73a1-4b3f-9b0a-40e118665cfb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        528,
        368
      ],
      "id": "d5bbdf8d-b4dd-4434-a452-f3a86884856e",
      "name": "Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca2a0961-7401-4592-b2fa-d639004bd5bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8324ec7eca30618cd3bc6a8dae1a196fac026b2124fb7a1eeaca65950dfc1d1"
  },
  "id": "g6i1wPoImT4Plj75",
  "tags": []
}