LKD project.json
{
  "name": "LKD project",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job URL",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL",
              "placeholder": "=",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -320,
        1424
      ],
      "id": "91a73123-db66-42af-8913-e914028c0f72",
      "name": "On form submission",
      "webhookId": "3725782d-311a-4dc9-851d-2af65a337fa6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a specialist in recruitment. Using the resume and the job description you will craft a compelling cover letter that grabs the attention of the hiring manager. Highlight the relevant skills and experience from the resume that align with the given job description. Ensure the cover letter is tailored to showcase the candidate's qualifications and enthusiasm for the role.\n\nJob description: {{ $json.extractedText }}\n\nTools:\n- Use the MCP client to retrieve the resume\n- Use the cover letters vector store for cover letter examples\n- Use the MCP client to create the cover letter\n- Use the MCP client to update the previously created cover letter with the final output\n\nDo not comment the result.\nDo not sign with [Your Name], sign with Yorick Cruse\nDo not include [Github]\nReplace [LinkedIn] with the hyperlink to https://www.linkedin.com/in/yorick-cruse\nReplace [Date] with the correct date using {{ $now }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        384,
        1424
      ],
      "id": "ad420ecf-02d8-43f5-9988-0c3e2f86013c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "authentication": "bearerAuth",
        "path": "502ae995-17da-49d4-b4b3-1ee915701f41"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        -288,
        880
      ],
      "id": "424ab82e-8549-4424-988f-649164051095",
      "name": "MCP Server Trigger",
      "webhookId": "5ff5a95e-02a9-41f7-be96-f351cd7eea0e",
      "credentials": {
        "httpBearerAuth": {
          "id": "zlxSywYGLzLHaX8s",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get resume in Google Docs",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/16ox4C2_eLSdmLi6xki1LLnVL1fB83lYeV4WRXTiOmhY/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -320,
        1104
      ],
      "id": "2a265e2f-c8ec-429d-b4da-98d9eb56014d",
      "name": "Get resume",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cCQXO8lp2wdloa9Z",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n-service-oj99.onrender.com/mcp/502ae995-17da-49d4-b4b3-1ee915701f41",
        "authentication": "bearerAuth"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        480,
        1648
      ],
      "id": "7542f53f-e799-4ffb-9527-a1aaa0a2d5fc",
      "name": "MCP Client",
      "credentials": {
        "httpBearerAuth": {
          "id": "zlxSywYGLzLHaX8s",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        1424
      ],
      "id": "dec32daa-c81b-4a47-a6ac-a139567c30fa",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "function htmlToText(html) {\n  // Remove script and style elements and their contents\n  let text = html.replace(/<\\s*(script|style)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '');\n  // Replace <br> tags with newlines\n  text = text.replace(/<br\\s*\\/?>/gi, '\\n');\n  // Replace block-level elements with newlines\n  text = text.replace(/<\\/p>/gi, '\\n');\n  text = text.replace(/<\\/div>/gi, '\\n');\n  text = text.replace(/<\\/(h[1-6]|li|ul|ol|blockquote|pre)>/gi, '\\n');\n  // Replace table elements\n  text = text.replace(/<\\/(td|th)>/gi, '\\t');\n  text = text.replace(/<\\/tr>/gi, '\\n');\n  // Replace HTML entities\n  text = text.replace(/&nbsp;/gi, ' ');\n  text = text.replace(/&lt;/gi, '<');\n  text = text.replace(/&gt;/gi, '>');\n  text = text.replace(/&amp;/gi, '&');\n  // Remove all other HTML tags\n  text = text.replace(/<[^>]*>/g, '');\n  // Normalize whitespace\n  text = text.replace(/\\s+/g, ' ').trim();\n  // Replace multiple newlines with a single one\n  text = text.replace(/\\n\\s*\\n/g, '\\n\\n');\n  return text;\n}\n\nconst html = $json.data\nconst text = htmlToText(html);\n\nreturn [{\n  json: {\n    extractedText: text\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        1424
      ],
      "id": "05872b89-d9b9-4950-b044-8ddbda3a1728",
      "name": "Code"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        352,
        1648
      ],
      "id": "87d6c0e9-2cd3-4d70-aec2-1126403241cf",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "ZiP2ZDqUgwq6dANd",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "16EUSoN4Uvmpo_HMNQQNQeNKYrMZ9IYlp",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -192,
        1104
      ],
      "id": "34db19b5-96bc-460e-92e7-27be6795a3d3",
      "name": "Create cover letter",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cCQXO8lp2wdloa9Z",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -64,
        1104
      ],
      "id": "41234af3-da07-4426-8192-3f31fea7d888",
      "name": "Update cover letter",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cCQXO8lp2wdloa9Z",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UGC3HCWoIy7SmMRKM3HAqb_rbNOs_dRPwr6s-NDSM50",
          "mode": "list",
          "cachedResultName": "n8n job applications",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGC3HCWoIy7SmMRKM3HAqb_rbNOs_dRPwr6s-NDSM50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGC3HCWoIy7SmMRKM3HAqb_rbNOs_dRPwr6s-NDSM50/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Linkedin URL": "={{ $('On form submission').item.json.URL }}",
            "Company name": "={{ $json.output['Company Name'] }}",
            "Job title": "={{ $json.output['Job title'] }}",
            "Link to cover letter": "={{ $json.output['Cover Letter URL'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company name",
              "displayName": "Company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job title",
              "displayName": "Job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin URL",
              "displayName": "Linkedin URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link to cover letter",
              "displayName": "Link to cover letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Applied?",
              "displayName": "Applied?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1408,
        1424
      ],
      "id": "32d7445f-4f6b-490c-9788-92c3c99029a9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "44OLE79cJm00irEa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Using the {{ $('Code').item.json.extractedText }} create a json with:\n- Company name\n- Job title\n- Cover letter URL ",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1008,
        1424
      ],
      "id": "83a44fc2-fa02-4d01-ab55-a42b74d276cb",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1040,
        1648
      ],
      "id": "abf576ca-86a4-417f-8c34-91460e8d6736",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "ZiP2ZDqUgwq6dANd",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Company Name\": \"Plume\",\n\t\"Job title\": \"engineer\",\n    \"Cover Letter URL\": \"https://docs.google.com/document/d/1K52L10-SikkQvWw-4JMGtBTg-ZGwgsUVmHxgJX8cglk/edit?tab=t.0\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1168,
        1648
      ],
      "id": "db5b6df9-0986-4bd1-832b-36491fbb62cd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1JLov4YidoA-QYtgALkyOSJsGaoOty7WZ",
          "mode": "list",
          "cachedResultName": "Final",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JLov4YidoA-QYtgALkyOSJsGaoOty7WZ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        448
      ],
      "id": "cfedeca5-00a9-4073-9696-aa802a2b736d",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dtbTAJ0FaByQyITV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        448
      ],
      "id": "72660d1d-b56b-4f03-9600-2ca1fdbd15e0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dtbTAJ0FaByQyITV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-cover-letters",
          "mode": "list",
          "cachedResultName": "n8n-cover-letters"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        128,
        448
      ],
      "id": "598085c4-cab2-4b16-8796-1037eb1d4eec",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "PDtrqMDQN9mKjcMs",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        288,
        672
      ],
      "id": "cb41dea3-6a11-4b89-9998-ed808de799fc",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve some cover letter examples from vector store",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-cover-letters",
          "mode": "list",
          "cachedResultName": "n8n-cover-letters"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        608,
        1648
      ],
      "id": "6840156d-ec27-4bf6-88de-79543b1b88e4",
      "name": "Cover letters vector store",
      "credentials": {
        "pineconeApi": {
          "id": "PDtrqMDQN9mKjcMs",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        704,
        1856
      ],
      "id": "1065899f-2afa-468c-b072-bb805838a125",
      "name": "Embeddings Mistral Cloud1",
      "credentials": {
        "mistralCloudApi": {
          "id": "ZiP2ZDqUgwq6dANd",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        672
      ],
      "id": "d8adb892-5c6b-419d-a827-e6728e6bfac5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "k3yB0pY2eAWo2YEV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        1808
      ],
      "id": "3609e23d-7587-4ec8-b7a2-e99de7989565",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get resume": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create cover letter": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update cover letter": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Cover letters vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud1": {
      "ai_embedding": [
        [
          {
            "node": "Cover letters vector store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "32400e0e-1261-4812-8a56-bbaa3eedefa6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8324ec7eca30618cd3bc6a8dae1a196fac026b2124fb7a1eeaca65950dfc1d1"
  },
  "id": "X2BFkgyN9D91K1fA",
  "tags": []
}