LKD project.json
{
  "name": "LKD project",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job URL",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL",
              "placeholder": "=",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        976
      ],
      "id": "ec59f8f7-a51c-48ca-a3b9-03402cea1401",
      "name": "On form submission",
      "webhookId": "3725782d-311a-4dc9-851d-2af65a337fa6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a specialist in recruitment. Using the resume and the job description you will craft a compelling cover letter that grabs the attention of the hiring manager. Highlight the relevant skills and experience from the resume that align with the given job description. Ensure the cover letter is tailored to showcase the candidate's qualifications and enthusiasm for the role.\n\nJob description: {{ $json.extractedText }}\n\nTools:\n- Use the MCP client to retrieve the resume\n- Use the cover letters vector store for cover letter examples\n- Use the MCP client to create the cover letter\n- Use the MCP client to update the previously created cover letter with the final output\n\nDo not comment the result.\nInclude in the output:\n- Compnay name\n- Job title\n- Cover letter URL on google docs\n\nCover letter guidelines:\n- Header is always:\nYorick Cruse\nMontréal, Canada\n+1 514-716-3781\nyorick.cruse@proton.me\n- Do not sign with [Your Name], sign with Yorick Cruse\n- Do not include [Github]\n- Do not include [LinkedIn] \n- Do not include [Date]\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        704,
        976
      ],
      "id": "ff4d3699-3104-40c8-b951-4c96d11d197a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "authentication": "bearerAuth",
        "path": "502ae995-17da-49d4-b4b3-1ee915701f41"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        32,
        432
      ],
      "id": "ff6054e9-1c1e-4af3-b172-d9fac396460a",
      "name": "MCP Server Trigger",
      "webhookId": "5ff5a95e-02a9-41f7-be96-f351cd7eea0e",
      "credentials": {
        "httpBearerAuth": {
          "id": "ktIFJPfgLxNY0TOL",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get resume in Google Docs",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/16ox4C2_eLSdmLi6xki1LLnVL1fB83lYeV4WRXTiOmhY/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        0,
        656
      ],
      "id": "41628aee-a4a5-49ab-9488-d14c3b3e0a92",
      "name": "Get resume",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YoqW5sGqoWAcqHv5",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        976
      ],
      "id": "e410110b-e637-432d-9045-ad8823db740c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "function htmlToText(html) {\n  // Remove script and style elements and their contents\n  let text = html.replace(/<\\s*(script|style)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '');\n  // Replace <br> tags with newlines\n  text = text.replace(/<br\\s*\\/?>/gi, '\\n');\n  // Replace block-level elements with newlines\n  text = text.replace(/<\\/p>/gi, '\\n');\n  text = text.replace(/<\\/div>/gi, '\\n');\n  text = text.replace(/<\\/(h[1-6]|li|ul|ol|blockquote|pre)>/gi, '\\n');\n  // Replace table elements\n  text = text.replace(/<\\/(td|th)>/gi, '\\t');\n  text = text.replace(/<\\/tr>/gi, '\\n');\n  // Replace HTML entities\n  text = text.replace(/&nbsp;/gi, ' ');\n  text = text.replace(/&lt;/gi, '<');\n  text = text.replace(/&gt;/gi, '>');\n  text = text.replace(/&amp;/gi, '&');\n  // Remove all other HTML tags\n  text = text.replace(/<[^>]*>/g, '');\n  // Normalize whitespace\n  text = text.replace(/\\s+/g, ' ').trim();\n  // Replace multiple newlines with a single one\n  text = text.replace(/\\n\\s*\\n/g, '\\n\\n');\n  return text;\n}\n\nconst html = $json.data\nconst text = htmlToText(html);\n\nreturn [{\n  json: {\n    extractedText: text\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        976
      ],
      "id": "84d05ea3-b655-49bb-acc2-bd3123c8f146",
      "name": "Code"
    },
    {
      "parameters": {
        "folderId": "16EUSoN4Uvmpo_HMNQQNQeNKYrMZ9IYlp",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        128,
        656
      ],
      "id": "d18223e7-244a-48c1-ae59-e31df4d55d9f",
      "name": "Create cover letter",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YoqW5sGqoWAcqHv5",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        256,
        656
      ],
      "id": "2371b79c-cc92-4088-b2eb-60640dbdfd51",
      "name": "Update cover letter",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YoqW5sGqoWAcqHv5",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UGC3HCWoIy7SmMRKM3HAqb_rbNOs_dRPwr6s-NDSM50",
          "mode": "list",
          "cachedResultName": "n8n job applications",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGC3HCWoIy7SmMRKM3HAqb_rbNOs_dRPwr6s-NDSM50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGC3HCWoIy7SmMRKM3HAqb_rbNOs_dRPwr6s-NDSM50/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Linkedin URL": "={{ $('On form submission').item.json.URL }}",
            "Company name": "={{ $json.output['Company Name'] }}",
            "Job title": "={{ $json.output['Job title'] }}",
            "Link to cover letter": "={{ $json.output['Cover Letter URL'] }}",
            "Date": "={{ $json.output.Date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company name",
              "displayName": "Company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job title",
              "displayName": "Job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin URL",
              "displayName": "Linkedin URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link to cover letter",
              "displayName": "Link to cover letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1728,
        976
      ],
      "id": "bd5bea72-3065-4d84-9734-e07519f550b6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dqTSVuR53iJj7fG2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Using the {{ $json.output }} create a json with:\n- Company name\n- Job title\n- {{ $('On form submission').item.json.URL }} for Linkedin URL\n- Use the google docs link for the Cover letter URL\n- Use {{ $today }} for Date",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1328,
        976
      ],
      "id": "d81311c1-d0be-4094-92fe-5f7c25708889",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1360,
        1200
      ],
      "id": "575b3cf5-ba8d-423c-afa2-863f4c3083ca",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "WoSULVZjjbV3XrPx",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Company Name\": \"Plume\",\n\t\"Job title\": \"engineer\",\n    \"Linkedin URL\": \"https://www.linkedin.com/jobs/view/4267740279/\",\n    \"Cover Letter URL\": \"https://docs.google.com/document/d/1NjfLvSztwlr0rcXKDNK3CL2nZYeXW-m_N3gyKL8g_ik\",\n    \"Date\": \"2025-08-19\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1488,
        1200
      ],
      "id": "4a5477b6-adbb-4fc6-80f0-7fb7dbe2736c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1JLov4YidoA-QYtgALkyOSJsGaoOty7WZ",
          "mode": "list",
          "cachedResultName": "Final",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JLov4YidoA-QYtgALkyOSJsGaoOty7WZ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "37009b8d-2550-4a24-a79f-f57222210b5b",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DvfBYo65gSbDiFpE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "711402f4-5e52-4901-805c-904becdc9c61",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DvfBYo65gSbDiFpE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-cover-letters",
          "mode": "list",
          "cachedResultName": "n8n-cover-letters"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "6aa24451-03dd-4586-bd7d-134d10c4c948",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "LJTX9Xu661GCrXPx",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        608,
        224
      ],
      "id": "5af6e9c8-8ff0-46a4-b673-3569cd055e73",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve some cover letter examples from vector store",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-cover-letters",
          "mode": "list",
          "cachedResultName": "n8n-cover-letters"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        928,
        1200
      ],
      "id": "b779b1b9-2bac-4b69-8235-4ddafd49a6fb",
      "name": "Cover letters vector store",
      "credentials": {
        "pineconeApi": {
          "id": "LJTX9Xu661GCrXPx",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        224
      ],
      "id": "80524fbb-dd1f-48aa-9d68-5ddfe59acbea",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "5UAXsKEAT3uNmSwi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        848,
        1360
      ],
      "id": "5a2f6dbe-d4db-46c9-a94a-4b70a62bea00",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1024,
        1408
      ],
      "id": "e3169240-1d4c-4b90-b694-419d10f68298",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "5UAXsKEAT3uNmSwi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://localhost:5678/mcp/502ae995-17da-49d4-b4b3-1ee915701f41",
        "authentication": "bearerAuth"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        720,
        1264
      ],
      "id": "1051ba22-2d01-4590-bc4e-6c988bd4b7bb",
      "name": "MCP Client to retrieve resume, create and update cover letter",
      "credentials": {
        "httpBearerAuth": {
          "id": "ktIFJPfgLxNY0TOL",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        1184
      ],
      "id": "704b21a8-fcb7-4783-954e-f891b55d23e9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5UAXsKEAT3uNmSwi",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get resume": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create cover letter": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update cover letter": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Cover letters vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Cover letters vector store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client to retrieve resume, create and update cover letter": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f902c0a-1eeb-4b00-aa38-ad1c50a35730",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7242951c48c6ea35a8b72a2d198d3e666997801231aea322cc4edbf178184716"
  },
  "id": "2AzYodPUVskgjXQa",
  "tags": []
}