LKD.json
{
  "name": "LKD",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Job description: {{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a specialist in recruitment. Using the resume and the job description you will craft a compelling cover letter that grabs the attention of the hiring manager. Highlight the relevant skills and experience from the resume that align with the given job description. Ensure the cover letter is tailored to showcase the candidate's qualifications and enthusiasm for the role.\n\nTools:\n- Use the MCP client to retrieve the resume\n- Use the cover letters vector store for cover letter examples\n- Use the MCP client to create the cover letter\n- Use the MCP client to update the previously created cover letter with the final output\n\nDo not comment the result.\nAt the end create a JSON output:\n- Company name\n- Job title\n- Cover letter URL on google docs\n- Today's date\n\nCover letter guidelines:\n- Header is always:\nYorick Cruse\nMontréal, Canada\n+1 514-716-3781\nyorick.cruse@proton.me\n- Do not sign with [Your Name], sign with Yorick Cruse\n- Do not include [Github]\n- Do not include [LinkedIn] \n- Do not include [Date]\n- Do not use the — sign\n- Avoid copying part of the job description, rephrase it instead\n- When speaking about programming languages, the candidate has \"knowledge of\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1024,
        976
      ],
      "id": "edd1878a-924f-4a38-b031-fb3e7c621c23",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "authentication": "bearerAuth",
        "path": "502ae995-17da-49d4-b4b3-1ee915701f41"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        32,
        496
      ],
      "id": "35d05a9d-590c-477f-9a9e-ef65e902cf5e",
      "name": "MCP Server Trigger",
      "webhookId": "5ff5a95e-02a9-41f7-be96-f351cd7eea0e",
      "credentials": {
        "httpBearerAuth": {
          "id": "I0TG8gidmVLxmbKO",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get resume in Google Docs",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/16ox4C2_eLSdmLi6xki1LLnVL1fB83lYeV4WRXTiOmhY/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        32,
        720
      ],
      "id": "cabb0d87-7a61-4bf7-abcc-77ab59f98360",
      "name": "Get resume",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "nUWjmFWgK8ad0dHl",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "16EUSoN4Uvmpo_HMNQQNQeNKYrMZ9IYlp",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        176,
        720
      ],
      "id": "043ad1e7-5c8a-49ed-95ca-8d5c0ad1d4fa",
      "name": "Create cover letter",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "nUWjmFWgK8ad0dHl",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        352,
        720
      ],
      "id": "1f5c010c-0d94-4f83-b6c3-35be2256c010",
      "name": "Update cover letter",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "nUWjmFWgK8ad0dHl",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "model": "ministral-8b-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        624,
        1168
      ],
      "id": "2d38a3dd-6e1b-4b0b-8dc8-e4ae6e83934c",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "ItukYzRR6LaI2FGS",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "6859d6f7-bc30-4b17-b60e-113dbe0898ed",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MiH2ZeGlXNcN7kbr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-cover-letters",
          "mode": "list",
          "cachedResultName": "n8n-cover-letters"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "01cc437e-f378-4cb6-9faf-a25a83a3c1ac",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "X40wq1q5T0FUeAP6",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "document name",
                "value": "={{ $('New file added to final folder').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        608,
        224
      ],
      "id": "49ce4626-8555-40a1-bec3-a447cbe619c7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve some cover letter examples from vector store",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-cover-letters",
          "mode": "list",
          "cachedResultName": "n8n-cover-letters"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1040,
        1424
      ],
      "id": "b81c6aa4-1e50-40b3-9200-5d2921bb5a9e",
      "name": "Cover letters vector store",
      "credentials": {
        "pineconeApi": {
          "id": "X40wq1q5T0FUeAP6",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        224
      ],
      "id": "7212b23b-b0f4-41ae-b2fb-9afe5b74d074",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "cHCSNBnwy3THoJ4i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1072,
        1248
      ],
      "id": "019acaed-07dd-4900-9268-9f532843562d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        1568
      ],
      "id": "33e7050b-b63b-49a5-808a-fc54cb638842",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "cHCSNBnwy3THoJ4i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://localhost:5678/mcp/502ae995-17da-49d4-b4b3-1ee915701f41",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        944,
        1248
      ],
      "id": "47b6e18e-6872-466a-89c8-f7a4354f9540",
      "name": "MCP Client to retrieve resume, create and update cover letter",
      "credentials": {
        "httpBearerAuth": {
          "id": "YWLuGW3P9CZCLAlj",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        816,
        1248
      ],
      "id": "090cc0e3-5828-47c7-a580-b6a95a1700e2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cHCSNBnwy3THoJ4i",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function htmlToText(html) {\n  // Remove script and style elements and their contents\n  let text = html.replace(/<\\s*(script|style)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '');\n  // Replace <br> tags with newlines\n  text = text.replace(/<br\\s*\\/?>/gi, '\\n');\n  // Replace block-level elements with newlines\n  text = text.replace(/<\\/p>/gi, '\\n');\n  text = text.replace(/<\\/div>/gi, '\\n');\n  text = text.replace(/<\\/(h[1-6]|li|ul|ol|blockquote|pre)>/gi, '\\n');\n  // Replace table elements\n  text = text.replace(/<\\/(td|th)>/gi, '\\t');\n  text = text.replace(/<\\/tr>/gi, '\\n');\n  // Replace HTML entities\n  text = text.replace(/&nbsp;/gi, ' ');\n  text = text.replace(/&lt;/gi, '<');\n  text = text.replace(/&gt;/gi, '>');\n  text = text.replace(/&amp;/gi, '&');\n  // Remove all other HTML tags\n  text = text.replace(/<[^>]*>/g, '');\n  // Normalize whitespace\n  text = text.replace(/\\s+/g, ' ').trim();\n  // Replace multiple newlines with a single one\n  text = text.replace(/\\n\\s*\\n/g, '\\n\\n');\n  return text;\n}\n\nconst html = $json.data\nconst text = htmlToText(html);\n\nreturn [{\n  json: {\n    extractedText: text\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        976
      ],
      "id": "6fdf27cb-e073-4622-9151-506ab69073d2",
      "name": "Extract text"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1JLov4YidoA-QYtgALkyOSJsGaoOty7WZ",
          "mode": "list",
          "cachedResultName": "Final",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JLov4YidoA-QYtgALkyOSJsGaoOty7WZ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a9c3cbfc-7d9e-4bd6-92b4-abb2350253c6",
      "name": "New file added to final folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MiH2ZeGlXNcN7kbr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add new cover letter to vector database",
        "height": 448,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -96
      ],
      "id": "4068e480-6950-4f2f-ac07-e2f83b5de528",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## MCP server to retrieve resume, create and edit cover letter",
        "height": 448,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        416
      ],
      "typeVersion": 1,
      "id": "7a1a46f4-a561-496f-82a4-3accd3389331",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "formTitle": "Job URL",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL",
              "placeholder": "=",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        976
      ],
      "id": "5593e4ad-563e-4a8c-81d8-9e3db591b0d8",
      "name": "Retrieve job posting URL",
      "webhookId": "3725782d-311a-4dc9-851d-2af65a337fa6"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        976
      ],
      "id": "a1d59c69-02d3-44ee-a49e-b943b2380869",
      "name": "HTTP GET Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are receiving an extraction of a Linkedin job description: {{ $json.extractedText }}\n\nThere is a lot of unnecessary additional text about cookies, privacy, settings, links to other pages and links to other job description.\n\nYour goal is to only keep the main job description and the relevant information. Do not summarize. Do not list different jobs at the end.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        624,
        976
      ],
      "id": "9a80471b-bbc7-44fc-bc2a-07c78a6990d8",
      "name": "Clean job description"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UGC3HCWoIy7SmMRKM3HAqb_rbNOs_dRPwr6s-NDSM50",
          "mode": "list",
          "cachedResultName": "n8n job applications",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGC3HCWoIy7SmMRKM3HAqb_rbNOs_dRPwr6s-NDSM50/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGC3HCWoIy7SmMRKM3HAqb_rbNOs_dRPwr6s-NDSM50/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Linkedin URL": "={{ $('Retrieve job posting URL').item.json.URL }}",
            "Company name": "={{ $json.output['Company Name'] }}",
            "Job title": "={{ $json.output['Job title'] }}",
            "Link to cover letter": "={{ $json.output['Cover Letter URL'] }}",
            "Date": "={{ $json.output.Date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company name",
              "displayName": "Company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job title",
              "displayName": "Job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin URL",
              "displayName": "Linkedin URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link to cover letter",
              "displayName": "Link to cover letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1408,
        976
      ],
      "id": "5e871aff-ebcd-4941-bdce-64a1151560d4",
      "name": "Add job to list",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eqVuaZAgNOhPD4k6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Company Name\": \"Plume\",\n\t\"Job title\": \"engineer\",\n    \"Linkedin URL\": \"https://www.linkedin.com/jobs/view/4267740279/\",\n    \"Cover Letter URL\": \"https://docs.google.com/document/d/1NjfLvSztwlr0rcXKDNK3CL2nZYeXW-m_N3gyKL8g_ik\",\n    \"Date\": \"2025-08-19\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1248,
        1248
      ],
      "id": "712bd544-ed77-402a-945c-87893b487a0a",
      "name": "JSON for spreadsheet"
    }
  ],
  "pinData": {},
  "connections": {
    "Get resume": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create cover letter": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update cover letter": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add job to list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Clean job description",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Cover letters vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Cover letters vector store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client to retrieve resume, create and update cover letter": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "Clean job description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New file added to final folder": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve job posting URL": {
      "main": [
        [
          {
            "node": "HTTP GET Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GET Request": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean job description": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON for spreadsheet": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "50042cce-4728-4957-8680-f48cc99034b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ad1a48aad6ac888ca1b70b8d221936c2ca1bfe8a9dea5d9de5282a46ddffc3d"
  },
  "id": "8J2IYw2qopr3oN89",
  "tags": []
}