Telegram megabot.json
{
  "name": "Telegram megabot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        160
      ],
      "id": "5596d534-c3a1-4d19-8bda-fe4b1bebd3fc",
      "name": "Telegram Trigger",
      "webhookId": "3d33c2d9-0d5a-46a8-b512-5331aafb6591",
      "credentials": {
        "telegramApi": {
          "id": "NQw6B2rVRkzCjVPk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Role:\nYou are an assistant with access to multiple tools.\n\nBehavior:\nYou respond concisely and succinctly in a friendly and approachable style.\n\nDate and Time: {{ $now }}\n\nTools:\nYou have access to multiple tools and always use the appropriate one depending on the task.\n\nEmails agent: Use this tool every time you need to do something with emails. If you send mail, sign every email with \"Yorick\" and never use empty placeholders for names. Ensure that emails are well-formatted with a proper body.\nCalendar agent: Use this tool every time you need to do something with the calendar.\nSearch Agent: Use this tool to search the web and Wikipedia.\nContact agent: Use this tool to retrieve or create contacts."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        432,
        -64
      ],
      "id": "d1a15d37-dd27-405c-be27-930afaf076a3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        144
      ],
      "id": "b91c4ce8-360b-4d8e-9f7b-3b568abe6417",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FGgIyNvvzsxP4aU6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "12eea693-5112-425d-80d0-f9e6e7f418f3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9131b25a-7b0e-4770-acb3-02728feff732",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -256,
        160
      ],
      "id": "8c3a258a-2e0d-4476-b24c-6c3e37928566",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76e6ff16-6b79-441f-b3c7-06310e5951bf",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -64
      ],
      "id": "b82cc195-5ab4-4dc6-ba8b-b8b68d1e6bbe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        240
      ],
      "id": "67d5e001-1c50-4e57-b56b-ae52eb1a3955",
      "name": "Get a file",
      "webhookId": "af3450dc-7f60-47ae-9f4e-d05e26ba753b",
      "credentials": {
        "telegramApi": {
          "id": "NQw6B2rVRkzCjVPk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        160,
        240
      ],
      "id": "10309a6e-7a8c-4338-9e58-5247ab96326c",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "FGgIyNvvzsxP4aU6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        144
      ],
      "id": "b81a0766-e81d-4891-aa97-21b34d64ae5f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        32
      ],
      "id": "595cac77-217a-4164-99b0-71c6faa9120e",
      "name": "Send a text message",
      "webhookId": "46416144-429d-4afc-9f15-ca0a69e8e6d1",
      "credentials": {
        "telegramApi": {
          "id": "NQw6B2rVRkzCjVPk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool for searches",
        "workflowId": {
          "__rl": true,
          "value": "rKGTj6sgxIBzTnyS",
          "mode": "list",
          "cachedResultName": "Telegram subworkflow search"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        688,
        240
      ],
      "id": "35d44a09-d687-426f-844d-d14b7efd4c8b",
      "name": "Search agent"
    },
    {
      "parameters": {
        "description": "Call this tool for calendar",
        "workflowId": {
          "__rl": true,
          "value": "81ce4H0mJBkSRjvO",
          "mode": "list",
          "cachedResultName": "Calendar agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        784,
        336
      ],
      "id": "88165511-a0bc-47fb-a38b-e1c59d35bc89",
      "name": "Calendar agent"
    },
    {
      "parameters": {
        "description": "Call this tool for emails",
        "workflowId": {
          "__rl": true,
          "value": "6lETWpBfUnbrN4xn",
          "mode": "list",
          "cachedResultName": "Emails agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        880,
        432
      ],
      "id": "658ff181-6758-45e2-8e5b-8023e48a484d",
      "name": "Emails agent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "51t2aC557UMfQu4l",
          "mode": "list",
          "cachedResultName": "Contact agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        816,
        144
      ],
      "id": "623ad492-41a1-4907-889c-c37c0d792a29",
      "name": "Contact agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=You are Arnie: a funny guy that makes sarcastic comments and funny anecdotes about topics. You try to roast the topic and be funny about it. Your answer should be just one or 2 punchy lines long.\n\ntopic: {{ $json.output }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        944,
        -208
      ],
      "id": "1bd4bf56-f203-43ac-8cd6-c766561619c5",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        944,
        -80
      ],
      "id": "5c695eab-be03-469e-8e3e-9287d3065eff",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "FGgIyNvvzsxP4aU6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1296,
        -208
      ],
      "id": "0c616c64-99e8-46dd-a337-c4936eb1eb1a",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "FGgIyNvvzsxP4aU6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1504,
        -208
      ],
      "id": "7afebb42-04ce-475e-a30e-846cd83ff4c9",
      "name": "Send an audio file",
      "webhookId": "57b44b6f-e7c6-48ff-bf8f-65bde56a61b0",
      "credentials": {
        "telegramApi": {
          "id": "NQw6B2rVRkzCjVPk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3b92cc6f-8ba6-43a9-8e57-252eaf3f8559",
              "leftValue": "={{  $json.message.chat.id }}",
              "rightValue": "6321725556",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0d18bda0-5c88-4108-90bb-abc7121660c7",
              "leftValue": "={{  $json.message.from.username }}",
              "rightValue": "wax88888",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        160
      ],
      "id": "161212f2-a199-43b5-9de1-929502069145",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Emails agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "182f286b-e398-40ad-9edc-9060628475f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f493e44b15d7f23f6731586ad7b17f7ba01ef8032d92a57a26faa9fab98968c6"
  },
  "id": "fnJix60wA3EX0eIK",
  "tags": []
}