Whatsapp bot.json
{
  "name": "Whatsapp bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "42d156fe-f3fb-4b55-bf60-c897b8e998a7",
      "name": "WhatsApp Trigger",
      "webhookId": "2dad59e3-50b9-4a5b-b53c-13d5d1a4acbe",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "x1uj4pcW7ARumL4I",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=**Role**  \nYou are a **personal assistant** designed to help users manage tasks efficiently.  \n\n## **Capabilities**  \nYou have access to the following tools:  \n- **Send_Mail** → Use this tool to send well-formatted emails with a proper greeting and closing.  \n- **Wikipedia** → Use this tool to look up general knowledge and factual information.\n- **Calculator** → Use this tool for calculations. \n\n## **Behavior**  \n- You respond **clearly, concisely, and professionally**, while maintaining a friendly tone.  \n- When sending emails, ensure they are **well-structured and polite**.  \n- If a user asks a factual question, check **Wikipedia** before responding.  \n- If a request is unclear, ask for clarification before proceeding.  \n\n## **Restrictions**  \n- Only use **Send_Mail** for sending emails, not for internal communication.  \n- Do not generate responses based on assumptions; always verify with Wikipedia when relevant.  \n\n## time and date: {{ $now }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        192,
        0
      ],
      "id": "de131ecd-293a-4aab-a8f8-2399aa29e3e4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        272
      ],
      "id": "5fa233cd-fee9-4fcf-baae-406356965a85",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FGgIyNvvzsxP4aU6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        288
      ],
      "id": "e7ac269b-0067-4c3f-b67e-31858ece9f18",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        512,
        304
      ],
      "id": "04926bdb-cf2f-474c-bd52-cc502f647bc0",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        368,
        304
      ],
      "id": "d231d699-30f4-4a77-9f5e-e1e8ba2d6a11",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "683736281497226",
        "recipientPhoneNumber": "+15147163781",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        544,
        0
      ],
      "id": "d97bfae3-f403-4aa2-b568-be4aa94bd726",
      "name": "Send message",
      "webhookId": "6e6f0f14-6bc4-4180-bc5a-fa67a3278e75",
      "credentials": {
        "whatsAppApi": {
          "id": "20arfEq1XlpHVdvK",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        640,
        304
      ],
      "id": "3b89bc8d-9614-49ba-9f2f-888796dab9fc",
      "name": "Send a message in Gmail",
      "webhookId": "a885aed2-386a-4c16-b338-9c6808ef1243",
      "credentials": {
        "gmailOAuth2": {
          "id": "I60SPqd4Zkjz798r",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e3e4f1b5-d5c2-475d-834d-a27490e55e9c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f493e44b15d7f23f6731586ad7b17f7ba01ef8032d92a57a26faa9fab98968c6"
  },
  "id": "dzEl0bFC9BwaqIGx",
  "tags": []
}